#cart {
  padding: 0 5px;
  margin-top: 10px;
}
#cart article {
  display: flex;
  align-items: center;
}

#cart button {
  display: inline;
  border: none;
}

#cart article #item-name {
  font-size: 1rem;
  text-transform: capitalize;
  text-align: left;
  width: 65%;
  font-weight: 500;
}

#cart article button {
  width: 25px;
  height: 25px;
}

#cart article #quantity {
  width: 30px;
  font-size: 1rem;
}

#editables {
  display: flex;
  align-items: center;
  justify-content: left;
}
