#section-heading #heading {
  text-align: right;
}

#heading button {
  background-color: #d3ed71;
  border-radius: 5px;
  padding: 0.3vw 0.5vw;
  font-size: 0.8em;
  font-weight: 500;
  border: none;
  margin-bottom: 5px;
}

#heading button:hover {
  color: #f778b5;
}
